<div hlmSidebarWrapper class="flex-col">
  <ng-content select="[header]" />
  <div class="flex flex-1">
    <hlm-sidebar
      sidebarContainerClass="top-(--header-height) h-[calc(100svh-var(--header-height))]"
    >
      <hlm-sidebar-header>
        <ul hlmSidebarMenu>
          <li hlmSidebarMenuItem>
            <a hlmSidebarMenuButton size="lg" href="#">
              <div
                class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg"
              >
                <ng-icon name="lucideLeaf" class="text-base" />
              </div>
              <div class="grid flex-1 text-left text-sm leading-tight">
                <span class="truncate font-medium">Paperless</span>
                <span class="truncate text-xs">Enhanced</span>
              </div>
            </a>
          </li>
        </ul>
      </hlm-sidebar-header>

      <hlm-sidebar-content>
        <paperless-nav-documents
          [navItem]="data.navDocuments"
        ></paperless-nav-documents>
        <paperless-nav-library
          [libraryItems]="data.navLibrary"
        ></paperless-nav-library>
        <paperless-nav-organize
          [organizeItems]="data.navOrganize"
        ></paperless-nav-organize>
        <paperless-nav-automation
          [automationItems]="data.navAutomation"
        ></paperless-nav-automation>
        <paperless-nav-administration
          [administrationItems]="data.navAdministration"
        ></paperless-nav-administration>
      </hlm-sidebar-content>
      <hlm-sidebar-footer>
        <!-- <spartan-nav-user [user]="data.user" /> -->
      </hlm-sidebar-footer>
    </hlm-sidebar>
    <ng-content />
  </div>
</div>
