<header class="flex h-16 shrink-0 items-center gap-2">
  <div class="w-full flex items-center justify-between gap-2 px-4">
    <button hlmSidebarTrigger></button>
    <hlm-separator
      orientation="vertical"
      class="mr-2 data-[orientation=vertical]:h-4"
    />
    <!-- <nav hlmBreadcrumb class="hidden sm:block">
      <ol hlmBreadcrumbList>
        <li hlmBreadcrumbItem>
          <a hlmBreadcrumbLink link="/">Building Your Application</a>
        </li>
        <li hlmBreadcrumbSeparator></li>
        <li hlmBreadcrumbItem>
          <a hlmBreadcrumbPage>Data Fetching</a>
        </li>
      </ol>
    </nav> -->

    <div hlmInputGroup class="w-full sm:ml-auto sm:w-auto">
      <input hlmInputGroupInput placeholder="Type to search..." />
      <div hlmInputGroupAddon>
        <ng-icon name="lucideSearch" />
      </div>
    </div>
  </div>
</header>
